@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

:root {
  --text:#333;
  // --purple-color:#3c28e9;
  --blue-color:#3f64e7;
  --background-color:#FAFBFD;
  --blur-color:#EAEDF0;
  --gray-color:#696969;
  --pink-color:rgb(218, 37, 73);
  --border-gray:#dbdbdb;
  --gray-less:#f3f0f0;
  
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  line-height: 1.4rem;
  box-sizing: border-box;
 
  font-size: 62.5%;
  
  color: var(--text);
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Inter',-apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 2px grey;
   background-color: #c9d2f3;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3f64e7;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #3f64e7;
}


.label-custom{

  font-weight: 700;
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 4px;
  margin-top: 20px;
}

.input-custom{
  outline: none;
  border: 1px solid var(--border-gray);
  font-weight: 500;
  font-family: 'Inter',sans-serif;
  color: #333;
  border-radius: 5px;
  width: 100%;
  padding: 16px 16px;
  margin-top: 8px;
  
}
.input-error{
  border: 1px solid red;
}
.error-message-header{
  margin: 20px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: red;
}
.error-message{
  margin-left: 4px;
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  color: red;
}

.btn{
  outline: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover{
    transform: scale(0.95);
  }
}


