.overlay{
   
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(63, 100, 231,0.06);
    z-index: 2;
    user-select: none;
}
.loader{
    border: 1px solid var(--blue-color);
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}