
.container{
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    background-color: white;
    .header{
        text-align: center;
        padding: 12px 0;
        font-size: 2rem;
        font-weight: 700;
    }
}